@forward "color";
@forward "typography";

@mixin theme-dark {
    --theme-color-background: #12151d;
    --theme-color-on-background: #ffffff;
    --theme-color-on-background-alt: #92959d;
    --theme-color-surface: #22252d;
    --theme-color-surface-alt: #282b33;
    --theme-color-on-surface: #fcffff;
    --theme-shadow-button: 1px 1px 2px 0 #191d25, -1px -1px 2px #282d3c;
}

@mixin theme-light {
    --theme-color-background: #ffffff;
    --theme-color-on-background: #010101;
    --theme-color-on-background-alt: #9d9d9d;
    --theme-color-surface: #f6f6f6;
    --theme-color-surface-alt: #dbdbdba6;
    --theme-color-on-surface: #000000;
    --theme-shadow-button: 2px 2px 4px #dddddd, -2px -2px 8px rgb(252 238 238);
}

:root {
    --theme-color-blue: #29badd;
    --theme-color-pink: #f10159;
    --theme-color-body-background: #f10159;
    @include theme-light;
}

.theme-dark {
    @include theme-dark;
}

.theme-light {
    @include theme-light;
}

@media (prefers-color-scheme: dark) {
    :root {
        @include theme-dark;
    }
}
